
<p>
<% if Supporter.where( project_id: @project.id, user_id: session[:user_id] ).exists? %>
  <%= link_to "サポーターをやめる", { action: "delete_supporter", project_id: @project.id }, onclick: "return confirm('「#{@project.title}」のサポーターをやめます。');" %>
<% else %>
  <%= link_to "サポーターになる", { action: "add_supporter", project_id: @project.id }, onclick: "return confirm( '「#{@project.title}」のサポーターになります。PayPalで150円/monthの登録をお願いします。' );" %>
<% end %>
</p>

<p>
  <b>Image:</b><br />
  <% if @project.image.present? %>
    <%= image_tag( @project.image, alt: @project.title ) %>
  <% elsif @project.url.present? %>
    <%= image_tag( "http://capture.heartrails.com/150x150/border/shorten?#{@project.url}", alt: @project.title ) %>
  <% end %>
</p>

<p>
  <b>User:</b><br />
  <%= @project.user_id %>
</p>

<p>
  <b>Title:</b><br />
  <%= @project.title %>
</p>

<p>
  <b>Description:</b><br />
  <%= @project.description %>
</p>

<p>
  <b>Url:</b><br />
  <%= @project.url %>
</p>

<p>
  <b>Image:</b><br />
  <%= @project.image %>
</p>

<p>
  <b>Email:</b><br />
  <%= @project.email %>
</p>

<p>
  <b>HashTag:</b><br />
  <%= @project.hash_tag %>
</p>

<p>
  <b>Supporter count:</b><br />
  <%= @project.supporter_count %>
</p>

<br />
<hr />
<br />

<%# ---------- メンバー ----------%>
<%# メンバー登録フォーム %>
<% if session[:user_id] == @project.user_id %>
  <b>メンバー追加：</b><br />
  <%= form_for :member, url: { action: 'add_member' } do |f| %>
    <%= f.hidden_field :project_id, { value: @project.id } %>
  
    <span class="field">
      <%= f.label :email, "Email" %>：<%= f.text_field :email %>
    </span>
    
    <span class="actions">
      <%= f.submit "Add", disable_with: "Add" %>
    </span>
  <% end %>
  
  <br />
<% end %>

<b>メンバーズ：</b><br />

<table>
  <tr>
    <th>Email</th>
    <th>Since</th>
  </tr>

<% @project.members.sort{ |a, b| a.created_at <=> b.created_at }.each{ |member| %>
  <tr>
    <td><%= member.email %></td>
    <td><%= member.created_at.strftime("%Y/%m/%d %H:%M:%S") unless member.created_at.blank? %></td>
  </tr>
<% } %>
</table>

<br />
<hr />
<br />

<%# ---------- インフォメーション ----------%>
<%# インフォメーション登録フォーム %>
<% if session[:user_id] == @project.user_id %>
  <b>インフォメーション発信：</b><br />
  <%= form_for :information, url: { action: 'add_information' } do |f| %>
    <%= f.hidden_field :project_id, { value: @project.id } %>
  
    <span class="field">
      <%= f.label :message, "メッセージ" %>：<br />
      <%= f.text_area :message, rows: "5", cols: "50" %>
    </span>
    
    <span class="actions">
      <%= f.submit "Send", disable_with: "Send" %>
    </span>
  <% end %>
  
  <br />
<% end %>

<b>インフォメーション：</b><br />

<table>
  <tr>
    <th>Message</th>
    <th>Sent</th>
  </tr>

<% @project.information.sort{ |a, b| b.created_at <=> a.created_at }.each{ |info| %>
  <tr>
    <td><%= info.message %></td>
    <td><%= info.created_at.strftime("%Y/%m/%d %H:%M:%S") unless info.created_at.blank? %></td>
  </tr>
<% } %>
</table>

<br />
<hr />
<br />

<%# ---------- サポーター ----------%>
<b>サポーターズ：</b><br />

<table>
  <tr>
    <th>Icon</th>
    <th>Name</th>
    <th>Since</th>
    <th>PayPal</th>
  </tr>

<% @project.supporters.sort{ |a, b| b.created_at <=> a.created_at }.each{ |supporter| %>
  <tr>
    <td><%= link_to_unless( supporter.user.try(:screen_name).blank?, image_tag( supporter.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{supporter.user.try(:screen_name)}", target: "_blank" ) %></td>
    <td><%= supporter.user.try(:screen_name) %></td>
    <td><%= supporter.created_at.strftime("%Y/%m/%d %H:%M:%S") unless supporter.created_at.blank? %></td>
    <td><%= supporter.payment ? "OK" : "NG" %></td>
  </tr>
<% } %>
</table>

<br />
<br />

<%= link_to t( "menu.edit", default: "Edit" ), action: "edit", id: @project.id %>
 | <%= link_to t( "menu.list", default: "List" ), action: "index" %>